<div class="cw">
    <div class="zci__main  zci__main--detail">
        <div class="zci__body">
            {{{content}}}
            <div class="zci__links">{{{moreAt item.meta}}}</div>
        </div>
        
    </div>
</div>
