<div class="cw">
	<div class="zci__main  zci__main--detail">
		<div class="zci__body">
			<h3 class="zci__caption  zci__result">{{{Answer.result}}}</h3>
			{{#if Answer.operation}}
				<h4 class="zci__subheader"><span class="zci__operation">{{{Answer.operation}}}</span></h4>
			{{/if}}
		</div>
	</div>
</div>
