<div class="cw">
	<div class="zci__main  zci__main--detail">
		<div class="zci__body">
			<h3 class="zci__caption  zci__result">{{{Answer.result}}}</h3>
			<h4 class="zci__subheader"><span class="zci__operation  tx-clr--lt2">{{{Answer.operation}}}:</span> <span class="zci__input">{{Answer.input.[0]}}</span></h4>
		</div>
	</div>
</div>
