<div class="c-info  c-info--body">
    {{{formatTitle heading el="h1" className="c-info__title" classNameSec="c-info__title--long" href=url}}}
    <div class="c-info__content chomp js-ellipsis">
        {{{abstract}}}
    </div>
    <div class="c-info__links">
        {{{include 'chomp_link' className="c-info__link  c-info__link--chomp  sep--after"}}}
        {{{moreAt meta url className="c-info__link" sourceOnlyMobile='true' attributionAfter='true'}}}
    </div>
</div>
