<div class="cw">
	<div class="zci__main  zci__main--detail"> 
		<div class="zci__body">
			{{{include content}}}
            {{{moreAt source_url source_name className="zci__more-at"}}}
		</div>
	</div>
</div>
