<li class="zcm__item  {{^if visible}}is-hidden{{/if}}">
    <a data-zci-link="{{{id}}}" class="zcm__link  js-zci-link  js-zci-link--{{{id}}} {{#if active}}is-active{{/if}}" href="#">{{{l name}}}</a>
</li>
