<div class="metabar__dropdown {{#if disabled}}metabar__dropdown--disabled{{/if}} metabar__dropdown--{{key}}">
    <a href="#" class="metabar__dropdown__selected js-dropdown-selected">{{values.0.name}}</a>
    <div class="metabar__dropdown__popout-wrap popout-wrap popout-wrap--bottom">
        <div class="metabar__dropdown__popout popout js-dropdown-popout popout--bottom">
            <div class="popout__body">
                <ol class="popout__list">
                {{#each values}}
                    <li>
                        <a href="#" data-value="{{id}}" class="popout__list-link metabar__dropdown__item {{#if disabled}}is-disabled{{/if}} {{#if selected}}is-selected{{/if}} js-dropdown-items">{{name}}</a>
                    </li>
                {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>
