<div class="frm__select metabar__dropdown metabar__dropdown--{{key}}">
    <select class="js-metabar-{{key}}" {{#if disabled}}disabled{{/if}}>
    {{#each values}}
        <option value="{{id}}" {{#if selected}}selected{{/if}} {{#if disabled}}disabled{{/if}}>{{name}}</option>
    {{/each}}
    </select>
</div>
