<div class="zci  zci--{{id}}  zci--type--tiles" id="zci-{{id}}">
    <div class="tileview  js-tileview">
        <div class="tile-wrap">
            <div class="zci__main  zci__main--tiles  js-tiles  has-tiles  has-nav">
                {{{content}}}
            </div>
        </div>
    </div>
</div>
