<li class="zcm__item">
    <a class="zcm__link--sub  js-topic-menu-link" href="#">{{name}}{{^hideCount}}<sup class="zcm__link__count  js-topic-menu-count">{{items.length}}</sup>{{/hideCount}}</a>
</li>
