{{#if img_m}}
    <div class="{{#if meta.options.detailMediaOverlay}}dsp__media__overlay{{/if}}  dsp__media__spacer">
        <img class="dsp__media__img" src="{{imageProxy img_m}}" />
    </div>
{{/if}}
