<div class="modal  modal--popout  modal--popout--{{direction}}  modal--popout--lg">
    <div class="modal__overlay js-modal-close"></div>
    <div class="modal__wrap">
        <div class="modal__box">
            <div class="modal__body">
                <div class="attribution">
                    <p class="tx-clr--slate">DDG.Text.ATTRIBUTION_STRING</p>
                    <hr class="attribution__hr"/>
                    {{#if devs}}
                        {{#each devs}}
                            {{#if this.show}}
                                <div class="tx-clr--slate-light">DDG.Text.ATTRIBUTION_DEV: <a href="{{this.url}}" class="tx-clr--slate">{{this.name}}</a></div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
