<div class="categories">
  {{#list this}}
  <li>
    <p>
      <strong>
        <a href="/{{src_id}}/c/{{title}}">{{title}}</a>
      </strong>
    </p>
    <p>{{stripFathead description}}</p>
  </li>
  {{/list}}
</div>
