{{#with dateBadge}}
<div class="date-badge">
	{{#if text}}
		<span class="date-badge__text">{{text}}</span>
	{{else}}
		<span class="date-badge__month">{{month}}</span>
		<span class="date-badge__day">{{day}}</span>
	{{/if}}
</div>
{{/with}}