<span class="tile__rating__foursquare  {{ratingClass}}  badge--txt">
    {{rating}}
</span>
{{#if reviews}}
    <span class="review-count review-count--foursquare">
        <span class="review-count__icon  ddgsi">O</span>
        {{reviews}}
    </span>
{{/if}}
