<div class="record  {{#if meta.options.keySpacing}}record--keyspacing{{/if}}  {{#if meta.options.rowHighlight}}record--highlight{{/if}}">
    <table class="record__body">
        {{#table-each this}}
            <tr class="record__row  {{#if ../meta.options.rowHighlight}}record__row--highlight{{/if}}">
                <td class="record__cell  record__cell--key">{{key}}</td>
                <td class="record__cell  record__cell--value">{{ellipsis value 350}}</td>
            </tr>
        {{/table-each}}
    </table>
</div>
