<span class="stars  stars--{{rating}}">
    <i class="star  stars__1"></i><i class="star  stars__2"></i><i class="star  stars__3"></i><i class="star  stars__4"></i><i class="star  stars__5"></i>
</span>