<div class="tile  tile--m  tile--m--{{id}}  {{#if meta.elClass.tile}}{{meta.elClass.tile}}{{/if}}">
    <div class="tile__body  hide--mob">
        <i class="tile--m__icon  tile--m__icon--l">+</i>
        <span class="tile--m__subtitle">DDG.Text.MORE</span>
    </div>
	<span class="tile--m--mob">DDG.Text.SHOW_MORE</span>
    {{{loader}}}
</div>
