<div class="c-detail c-detail--qa">
    <h4 class="c-detail__title  detail__title--qa"><a href="{{url}}">{{{heading}}}</a></h4>
    <div class="chomp--scroll">{{{abstract}}}</div>
    <p class="c-detail__more">{{{moreAt url source}}}</p>
</div>
