<div class="dsp__media__wrapper  {{#if templates.options.detailPaneMediaSpacer}}dsp__media__spacer{{/if}} {{#if templates.options.detailPaneLight}}dsp__media__overlay{{/if}}">
    <img class="dsp__media__img" src="{{imageProxy detail_image}}" alt="{{imageAlt}}" />
</div>
