<div class="detail__pane">
    <div class="dsp dsp-lan">
    {{#if hasMedia}}
        <div class="dsp-lan__media  dsp-lan__media--{{id}}  js-detail-media">
            {{#if hasMediaImage}}
                <img class="dsp__media__img dsp-lan__media__img" src="{{imageProxy image}}" alt="{{imageAlt}}" />
            {{/if}}
        </div>
    {{/if}}
        <div class="dsp-lan__body  js-detail-body  dsp-lan__body--{{id}}">
            <div class="dsp-lan__body__content  js-detail-content"></div>
        </div>
    </div>
</div>
