<div class="detail__pane">
    <div class="dsp  dsp-lg">
    {{#if hasMedia}}
        <div class="dsp-lg__media  dsp-lg__media--{{id}}  js-detail-media"></div>
    {{/if}}
        <div class="dsp-lg__body  js-detail-body  dsp-lg__body--{{id}}  {{^if hasMedia}}no-media{{/if}}">
            <div class="dsp-lg__body__content  js-detail-content">{{{content}}}</div>
        </div>
    </div>
</div>
